html {
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}
.container         {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;

}


.icons {
    width:2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 10px;
    vertical-align: -9px;
}

#top-icon {
    margin-top: 3em;
}

.magnify {
    width:2em;
}


ul {
    list-style: none;
    margin-left: -2em;
}

.dashboard-icon {
    width: 5em;
    
}

.sidebar {
    background-image: linear-gradient(to bottom right,#007FFF, blue );
    color: white;
    font-weight: bolder;
    grid-row: 1 / 3;
}

.top-sidebar {
    display:grid;
    grid-template-columns: 1fr 2fr;
    
}

.top-sidebar p {
    font-size: 1.7em;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2em 4fr 3fr;
    grid-template-rows: 2fr 3fr;
    margin-left: 1em;
    margin-right: 1em;
}

#infopic {
    max-width: 6em;
}

.bell {
    width:2em;
    margin-right: .5em;
}

.userinfo {
    grid-column-start:2; 
    padding-left: 3em;
    padding-top: 1em;
    font-size: 2em;
}

.btn-group {
    grid-column-start: 3;
    display: flex;
        align-items: center;
        justify-content: space-around;
}

button {
    border: none;
    margin: 0;
    appearance: none;
    background-color: #007FFF;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 27%;
    padding: 0.5em 1em;
    border-radius: 50px;
    transition: all 500ms ease;
}

button:hover{
    color: #007FFF;
    border:  #007FFF solid 1px;
    background-color:#fff;
  }

#searchbar {
    border: 1px solid grey;
    border-radius: 10px;
    height: 30px;
    margin-left: 2em;
    width: 90%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
  

.images {
    max-width: 5em;
    border: 10px double #007FFF;
    border-radius: 50%;
    margin-right: 1em;
}


.main-content {
    background-color: rgb(199, 208, 228);
    grid-row: 2 / 3;
    grid-column: 2 /4;
    display: grid;
    max-height: 800px;
    grid-template-columns: minmax(300px, 3fr) minmax(300px, 1fr);
    grid-template-rows: 300px 300px 1fr;
    gap: 20px;
    padding-inline: 20px;
}

.main-content-left {
    display: grid;
    grid-template-rows: 39px 12px 1fr;
    grid-area: 1/1/-1/1;
    
}



.projects {
        grid-area: 3/1/-1/1;
        display: grid;
        overflow: auto;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(max(250px, 40%), auto));
        grid-template-rows: repeat(2, 1fr);
    }

.card {
    background-color: white;
    border-radius: 10px;
    height: 220px;
    display: grid;
    grid-template-rows: 55px 2fr 1fr;
    grid-template-columns: 10px 1fr 1fr;
   
}

.color-panel{
    grid-area: 1/1/-1/1;
    background-color: #007FFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-description {
    grid-row: 2;
    grid-column: span 2;
}

.clickable-group {
    grid-column:3;
    grid-row: 3;
    justify-conent:flex-start;

}
.clickable {
    width:26px;
    
    transition: width 100ms ease-in-out;
    padding-top: 10px;
    padding-right:5px;
}

.clickable:hover {
    width: 35px;
}



.announcements {
    height: 240px;
    border-radius: 10px;
    grid-area: 1/2/1/2;
}

.update-card {
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    grid-template-columns: 1fr;
}

.updates {
    background-color: white;
    display: grid;
    grid-template-rows: 20px 1fr;
    padding: 10px 20px 10px;
}

hr{
    margin: 0 20px 0;
}

.trending{
    height: 240px;
    border-radius: 10px;
    grid-row-start: 3;
    grid-column-start: 2;
}

.trending .card{
    display: grid;
    padding: 15px 0 15px 0;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.trending-post{
    display: grid;
    align-items: center;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.trending-post img{
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50px;
    height: 50px;
    align-self: center;
    justify-self: center;
}

.trending-post .handle{
    align-self: flex-end;

}

.trending-post .bio{
    align-self: flex-start;
    color: grey;
    font-size: 12px;
}
