html {
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container         {
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;

}

.sidebar {
    background-color:#007FFF;
    color: white;
    font-weight: bolder;
    grid-row: 1 / 3;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.btn-group {
    display: flex;
        align-items: center;
        justify-content: space-around;
        
}

button {
    border: none;
    margin: 0;
appearance: none;
    background-color: #007FFF;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 27%;
    padding: 0.5em 1em;
    border-radius: 50px;
    transition: all 500ms ease;
}

button:hover{
    color: #007FFF;
    border:  #007FFF solid 1px;
    background-color:#fff;
  }

#searchbar {
    border: 1px solid grey;
    border-radius: 10px;
    height: 25px;
    width: 60%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
  



.main-content {
    background-color: rgb(199, 208, 228);
    grid-row: 2 / 3;
    grid-column: 2 /4;
    display: grid;
    max-height: 800px;
    grid-template-columns: minmax(300px, 3fr) minmax(300px, 1fr);
    grid-template-rows: 300px 300px 1fr;
    gap: 20px;
    padding-inline: 20px;
}

.main-content-left{
    display: grid;
    grid-template-rows: 39px 1fr;
    grid-area: 1/1/-1/1;
}

.main-content-left .p{
    grid-area: 1/1/1/1;
}

.projects {
        grid-area: 2/1/-1/1;
        display: grid;
        overflow: auto;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(max(250px, 40%), auto));
        grid-template-rows: repeat(2, 1fr);
    }

.card {
    background-color: white;
    border-radius: 10px;
    height: 220px;
    display: grid;
    grid-template-rows: 55px 2fr 1fr;
    grid-template-columns: 10px 1fr 1fr;
}

.color-panel{
    grid-area: 1/1/-1/1;
    background-color: #007FFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



.announcements {
    grid-area: 1/2/1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rws: 1fr 5fr;
}

.updates {
    margin: 2rem;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    text-align: center;
}

ul {
    list-style: outside none none;
    padding: 0;

}

.updates > li::after {
    content: '';
    display: inherit;
    width: 60%;
    margin: 2rem auto;
    border-bottom: 1px solid grey;
 }


.trending {
    margin-top:4em;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}