html {
    margin:0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.container         {
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;

}

.sidebar {
    background-color:#007FFF;
    color: white;
    font-weight: bolder;
    grid-row: 1 / 3;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#searchbar {
    border: 1px solid grey;
    border-radius: 10px;
    height: 25px;
    width: 60%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
  



.content {
    background-color: #E0E0E0;
    grid-row: 2 / 3;
    grid-column: 2 /4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.updates {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.trending {
    grid-column: 2;
}

.top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}